<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Update</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<section class="updateSection">
  <div class="updateContainer">
    <h1 class="text-center">Opdater Bil</h1>
    <form action="/updateOneCar" method="post">
      <input class="dplay-none" type="text" name="carID" th:value="${cars.carID}">
      <input type="text" name="carType" th:value="${cars.carType}">
      <input type="text" name="brand" th:value="${cars.brand}">
      <input type="text" name="model" th:value="${cars.model}">
      <input type="text" name="regNumberPlate" th:value="${cars.regNumberPlate}">
      <input type="text" name="firstRegYearMonth" th:value="${cars.firstRegYearMonth}">
      <input type="text" name="kmDriven" th:value="${cars.kmDriven}">
      <input class="mt-10" type="submit" value="Opdater Bil">
    </form>
  </div>
</section>
</body>
</html>