<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
<h1>Vælg Dato</h1>

<section id="createCustomerSection">
    <div id="createCustomerContainer">
        <form action="/createBooking" method="post">
            <label>Lejedato</label>
            <input required type="date" name="rentDate">
            <label>retur dato</label>
            <input required type="date" name="returnDate">
            <input th:value="${customerID}"  type="text" name="customerID">
            <input th:value="${carID}" type="text" name="carID">
            <input type="submit" value="Tilføj booking">
        </form>
    </div>
</section>
</body>
</html>