<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>

<section id="customerSection">
    <h1 class="mb-10">Vælg Kunde</h1>
    <div id="customerContainer">
        <div id="tableHead">
            <p class="tableHeadData">Navn</p>
            <p class="tableHeadData">Efternavn</p>
            <p class="tableHeadData">mobilnummer</p>
            <p class="tableHeadData">Vælg kunde</p>
        </div>
        <div class="customer" th:each="customer: ${customerList}">
            <p th:text="${customer.firstName}"></p>
            <p th:text="${customer.lastName}"></p>
            <p th:text="${customer.mobileNr}"></p>
            <div>
                <a th:href="@{'/chooseOneCar/'+${customer.customerID}}"><i title="Vælg kunde" class="fas fa-user"></i></a>
            </div>
        </div>
    </div>
</section>

<!--
<h1>Opret Booking</h1>
<section id="updateBookingSection">
    <div id="updateBookingContainer">
        <h1>Opret Ny Bil</h1>
        <form action="/createBooking" method="post">
            <input required placeholder="" type="text" name="carType">
            <input required placeholder="Brand" type="text" name="brand">
            <input required placeholder="Model" type="text" name="model">
            <input required placeholder="Reg Number Plate" type="text" name="regNumberPlate">
            <input required placeholder="First Reg Year Month (yyyymmdd)" type="date" name="firstRegYearMonth">
            <input required placeholder="Kilometer kørt" type="number" name="kmDriven">
            <input type="submit" value="Opret Ny Bil">
        </form>
    </div>
</section>
-->

</body>
</html>