<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
<h1>Update Booking</h1>
<section id="updateCustomerSection">
    <div id="updateCustomerContainer">
        <h1>Opdater Booking</h1>
        <form action="/updateOneBooking" method="post">
            <input class="dplay-none" type="text" name="bookingID" th:value="${booking.bookingID}">
            <input class="dplay-none" type="text" name="customerID" th:value="${booking.customerID}">
            <input class="dplay-none" type="text" name="carID" th:value="${booking.carID}">
            <label>Leje Dato</label>
            <input type="date" name="rentDate" th:value="${booking.rentDate}">
            <label>retur dato</label>
            <input type="date" name="returnDate" th:value="${booking.returnDate}">
            <input type="submit" value="Opdater Booking">
        </form>
    </div>
</section>
</body>
</html>