<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<section id="createCustomerSection">
    <div id="createCustomerContainer">
        <h1 class="text-center">Opret Ny Kunde</h1>
        <form action="/createCustomer" method="post">
            <input required placeholder="Fornavn" type="text" name="firstName">
            <input required placeholder="Efternavn" type="text" name="lastName">
            <input required placeholder="Postnummer" type="text" name="zipCode" maxlength="4">
            <input required placeholder="By navn" type="text" name="cityName">
            <input required placeholder="Adresse" type="text" name="adress">
            <input required placeholder="Mobil Nr" type="number" name="mobileNr">
            <input required placeholder="Email" type="text" name="email">
            <input required placeholder="Kørekort" type="number" name="DriversLicenceNumber">
            <input class="mt-10" type="submit" value="Opret Kunde">
        </form>
    </div>
</section>

</body>
</html>