<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kailua Biler</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">


</head>
<body>
<section id="homeSection">
    <div id="customerContainer">
        <div class="left">
            <h2>Kailua Biler</h2>
            <h3>Håndter Kunder</h3>
            <a href="/customers"><button>Gå til kunder</button></a>
        </div>
        <div class="bg-overlay"></div>
    </div>
    <div class="right">
        <div id="carsSection">
            <div id="carsContainer">
                <h2>Håndter Biler</h2>
                <a><button>Gå til Biler</button></a>
            </div>
            <div class="bg-overlay"></div>
        </div>
        <div id="settings">
            <h2>Personlige<br>oplysninger</h2>
            <a><button>Gå til Indstillinger</button></a>
        </div>
    </div>
</section>
</body>
</html>